<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Verb</ion-title>
  </ion-toolbar>
 </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Notes</ion-card-title>
    </ion-card-header>
    <ion-card-content aria-setsize="1">
      <p>Pronouns stand in for or replace nouns. This lesson is about personal pronouns, which replace nouns that refer to people or things.</p>
    </ion-card-content>
    
    <ion-card-content>
      <p>Case: Determines how a pronoun is being used in a sentence (subject, object, or possessive). We'll go over this more in the next lesson.</p>
    </ion-card-content>  

    <ion-card-content>
      Personal pronouns have:
      <p>Number: They are singular or plural.</p>
      <p>Person: 1st person is the person speaking, 2nd person is the person being spoken to, and 3rd person is the person being spoken about. You can look at the chart 1.1 below.</p>
    </ion-card-content>

  </ion-card>

  <ion-card>
      <img src="/assets/Pronouns.jpg" >
      <ion-card-header>
        <ion-card-title class="ion-text-center" aria-setsize="1">Chart 1.1</ion-card-title>
      </ion-card-header>
    
  </ion-card>
  

</ion-content>
