<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ESSAY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>Example Verb In Essay</ion-card-title>
    
<p>Example:1</p>
<p> Please highlight verbs in the sentences below and list it down. Please read it carefully!</p>
<ion-card-content>

<p>
   When travelling with my grandparents, I've always loved <ion-text color="warning">visiting</ion-text> the beach.All my life I have had the desire of going somewhere exotic with an astonishing view of the water from almost anywhere,I'd <ion-text color="warning">choose</ion-text> Fiji because of the beautiful beaches, the scenery, and the glass floors in the over-the-water housing
</p>

</ion-card-content>
</ion-card>
<ion-card>
  <p>Example 2</p>
    <ion-card-content>
<p>Everyday after school, Ali always <ion-text color="danger">go</ion-text>  to the park.Ali is a an active boy who loves to <ion-text color="warning">playing</ion-text> sport such as football,badminton.He <ion-text color="tertiary">walk</ion-text> from school almost 3 kilometer to the park and sometimes Ali <ion-text color="primary">running</ion-text> but never felt exhausted. </p>

    </ion-card-content>
   
  </ion-card>

 
   
 

</ion-content>
