<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button  [routerLink]="['/notes']"></ion-back-button>
    </ion-buttons>
    <ion-title>VERBS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <p class="ion-text-center">
    <img src="assets/verb.png"  width=200%>
  </p>
</ion-card>
<ion-list>
  <ion-card >
    <ion-card-title>Type of Verb</ion-card-title>
  <ion-item>
    <ion-label [routerLink]="['/verb']">Action Verb</ion-label>
  </ion-item>
  <ion-item>
    <ion-label [routerLink]="['/verbtense']">Verb Tense</ion-label>
  </ion-item>
  
</ion-card>

