<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Notes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-searchbar
[(ngModel)]="searchTerm"
(ionChange)="setFilteredItems()">
</ion-searchbar>


<ion-content>
  <ion-card>
  <ion-list>
    <ion-item *ngFor="let item of items" (click)="onDirectPage(item)">
   
     <ion-avatar>
       <img [src]="item.image"/>
       
     </ion-avatar>
     <ion-label>{{ item.title }}</ion-label>
    
   </ion-item>
   </ion-list>
  </ion-card>
</ion-content>
  
   



  


