<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Exercise</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <p class="ion-text-center">
    <img src="assets/Exercise.png"  width=200%>
  </p>
</ion-card>

  <ion-card>
  <ion-list>
    <ion-card-title>List Of Essay</ion-card-title>
  <ion-item>
    <ion-label [routerLink]="['/essay1']">Essay 1</ion-label>
  </ion-item>
  </ion-list>
</ion-card>

