<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
     <ion-card-title>Welcome To Grammar Land !!
      Are You Ready to Learn?</ion-card-title>
     </ion-card-header>
     <ion-card-content>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRyySi-Jc3LQqtF27iCozrOOPZfQ-li4wIjXxCPnEPq9J-7jaeHTwHgxrwDIP_un2Jpg-s&usqp=CAU" />
  </ion-card-content>
    </ion-card>

    <ion-list style="text-align: center" >
    <ion-button [routerLink]="['/login']" color="dark" expand="floating" fill="outline">
      LET GET STARTED!!
    </ion-button>
  </ion-list>
  
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>


  



  
